@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: "Kar";
  src: url("/assets/fonts/Karrik-Regular.woff2") format("woff2");
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: white;
}


.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;


}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: #11141a;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

nav a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  margin-left: 35px;
  transition: .3s;
  font-family: "Poppins";
}

nav a:hover,
nav a.active {
  font-size: 20px;
  color: #0ef;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1f242d;
  font-weight: 700;
  scroll-snap-align: start;
  padding-top: 60px;

}

section:nth-child(odd) {
  background: #323946;
}

.PageTwo {
  max-width: 1000px;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;

}

.PageTwo h1,
h2 {
  display: flex;
  justify-content: center;
  font-family: "Poppins";
  font-weight: 800;
  font-size: 30px;
}

.aboutText {
  width: 21ch;
  animation: typing 2s steps(24, end) 0.5s forwards, blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: "Poppins", serif;
  visibility: hidden;

}

.aboutText::after {
  content: "";
  animation: none;
}


@keyframes typing {
  from {
    width: 0;
    visibility: visible;
    /* Make the text appear when animation starts */
  }

  to {
    width: 21ch;
    visibility: visible;
    /* Keep it visible after typing */
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

#one {
  display: flex;
  flex-direction: column;
  /* border: 1px solid rebeccapurple; */
}

.hello {
  font-size: 1rem;
  color: rgb(231, 231, 231);
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 30px;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;

}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
  box-shadow: 10px 10px 10px #252525;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
  background: rgb(0, 0, 0);
}

.btn-color-1,
.btn-color-2:hover {
  background: #6E85B2;
  color: white;
}

.btn-color-2 {
  background: #6E85B2;
}

.btn-color-2:hover {
  border: rgb(0, 0, 0) 0.1rem solid;
  background: rgb(0, 0, 0);
}

.btn-container {
  gap: 1rem;
}

.icon {
  cursor: pointer;
  height: 3rem;
  background-color: rgba(255, 255, 255, 0);
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.profilePicture img {
  width: 200%;
  max-width: 300px;
  /* Adjust as needed */
  height: auto;
  /* Maintains aspect ratio */
  max-height: max-content;
  border-radius: 7%;
  display: block;
  /* Prevents extra spacing */
  box-shadow: 10px 10px 10px #11141A;
  margin-right: 20px;
  margin-bottom: 50px;
}

.profilePicture {
  display: flex;
  margin-top: 20px;
  align-items: center;
  font-family: "Kar", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.7;
}

.skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px 20px;
  text-align: center;
  align-items: center;
}

.skill-card {
  background: #6E85B2;
  padding: 20px;
  border-radius: 10%;
  width: 140px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

.skill-card:hover {
  transform: scale(1.1);
}

.skill-card h2 {
  font-size: 18px;
  font-family: "Space Mono", monospace;
}

.skill-card p {
  font-size: 12px;
  color: white;
}



.pageThree h1 {
  display: flex;
  justify-content: center;
  font-family: "Poppins";
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 60px;
}

.pageThree{
  font-family: "Poppins";
}
.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: row;
  min-width: 90%;
  justify-content: center;
}

.project-card {
  min-width: 30%;
  min-height: 100%;
  background: #1f242d;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  padding-bottom: 40px;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-card h3 {
  margin: 10px;
  font-size: 16px;
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: rgb(228, 228, 228);
  padding: 20px;
  border-radius: 10px;
  min-width: 50%;
  max-width: 50%;
  min-height: 80%;
  text-align: center;
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
  font-size: 14px;
  margin-top: auto;
}
#modalTitle{
  color: black;
}
#modalDescription{
  color: black;
  text-wrap: wrap;
}

#modalImg{
  width: auto;
  height: 300px;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}


.modalButtons{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap:5%
}

.modal-lists{
  color: black;
  display: flex;
  justify-content: space-around;

}

.modal-lists p{
  color: black;
  border-bottom: 1px solid grey;
  padding-top: 5px;
}
.modal-technologies,li{
  color: black;
  font-size: 5px;
  text-align: start;
  font-size: 12px;
  list-style-type: "✅";
  margin: 0;
  padding: 0;

}



.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 31px;
  width: 30px;
  cursor: pointer;
  font-size: 18px;
  border: 1px solid black;
  padding: 5px;
  background-color: #d9534f;
  border-radius: 1000px;
}

.buttonGH {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  background-color: #181717;
  outline: 3px #181717 solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
}

.buttonGH .text {
  color: white;
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
}

.buttonGH svg path {
  transition: 400ms;
}

.buttonGH:hover {
  background-color: white;
}

.buttonGH:hover .text {
  color: #181717;
}

.buttonGH:hover svg path {
  fill: #181717;
}


button {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background-color: #0c66ed;
  padding: 1em 2em;
  border: none;
  border-radius: .6rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

button span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  background-color: #171717;

  border-radius: 50%;
  transition: .6s ease;
}

button span:nth-child(6) {
  position: relative;
}

button span:nth-child(1) {
  transform: translate(-3.3em, -4em);
}

button span:nth-child(2) {
  transform: translate(-6em, 1.3em);
}

button span:nth-child(3) {
  transform: translate(-.2em, 1.8em);
}

button span:nth-child(4) {
  transform: translate(3.5em, 1.4em);
}

button span:nth-child(5) {
  transform: translate(3.5em, -3.8em);
}

button:hover span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4);
  transition: 1.5s ease;
}

.buttonBox{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;

}
  



@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.contact-section {
  max-width: 600px;
  margin: auto;
  padding: 40px;
  font-family: "Poppins";
}

.contact-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}

.contact-subtitle {
  font-size: 16px;
  margin-bottom: 20px;
  color: #ffffff;
}

.contact-subtitle a {
  color: #d9534f;
  font-weight: 600;
  text-decoration: none;
}

.contact-subtitle a:hover {
  text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: white;
  outline: none;
  color: black;
}

input:focus,
textarea:focus {
  border: 1px solid #d9534f;
}

.submit-btn {
  width: 180px;
  padding: 12px;
  font-size: 18px;
  font-weight: 600;
  background: #d9534f;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.submit-btn::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100%;
  height: 100%;
  background: rgb(168, 82, 82);
  border-radius: 5px;
  z-index: -1;
  transition: 0.3s;
}


#status-message {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
}


@media screen and (max-width: 768px) {
  .aboutMe p {
    font-size: 0.5rem;
    line-height: 1.5;

  }

  .profilePicture {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;

  }

  .profilePicture img {
    order: -1;
    /* Move image to the top */
    max-width: 80%;
    margin-bottom: 15px;

  }

  .profilePicture p {
    margin: 10px;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    background: #11141a;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: nowrap;
    white-space: nowrap;
    padding: 0 10px 10px;
  }

  nav a {
    font-size: 12px;
    margin: 0 5px;
    padding: 5px 8px;
  }

  nav a:hover,
  nav a.active {
    font-size: 12px;
    color: #0ef;
  }

  .container {
    scroll-snap-type: none;
  }

  .projectCard {
    flex-direction: column;
    align-items: center;
    height: auto;
    text-align: center;
  }

  .projectImg {

    width: 100%;
    display: flex;
    justify-content: center;
  }

  .projectImg img {
    width: 100%;
    max-width: 400px;
  }

  .imgBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    height: auto;

  }

  .projectText {

    font-size: 14px;
    padding: 10px;
    width: 90%;
  }

  .pageThree h2 {
    margin: 0;
    font-size: 15px;
    text-align: center;
  }

  .modal-content{
    min-width: 95%;
    margin-top: none;

    margin-bottom: 50px;
    padding-bottom: none;
    min-height: none;
    
  }

#modalImg{
  
  height: 180px;
  overflow: hidden;
  }

.project-card{
  max-width: 98%;
}

.modal-lists{
  flex-direction: column;
}

}


