@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    scroll-behavior: smooth;
    color: white;
}


.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;
    background: #11141a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 00;
}

nav a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    margin-left: 35px;
    transition: .3s;
}
nav a:hover,
nav a.active {
    color: #0ef;
}
section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f242d;
    color: #fff;
    font-weight: 700;
    scroll-snap-align: start;
}
section:nth-child(odd) {
    background: #323946;
}


.aboutText{
    width: 47ch;
    animation: typing 2s steps(48), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}

@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

#one{
    display: flex;
    flex-direction: column;
    /* border: 1px solid rebeccapurple; */
}

#two{
    display: flex;
    flex-direction: column;
}

.aboutMe{
    width: 50%;
    gap: 40px;
    margin-bottom: 30px;
}